---
apiVersion: v1
kind: Service
metadata:
  name: wordpress
  labels:
    app: wordpress
    tier: frontend
spec:
  ports:
    - port: 80
      name: http
  selector:
    app: wordpress
    tier: frontend
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wordpress
data:
  host: "wordpress-mysql"
  user: "wordpress"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  labels:
    app: wordpress
    tier: frontend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: wordpress
      tier: frontend
  template:
    metadata:
      labels:
        app: wordpress
        tier: frontend
    spec:
      containers:
      - image: wordpress:6.2.1-apache
        name: wordpress
        env:
        ##
        # mount non-sensitive environment vars from configmap using configMapKeyRef
        # WORDPRESS_DB_HOST (from wordpress configmap, key: host)
        # WORDPRESS_DB_USER (from wordpress configmap, key: user)
        ##
        - name: WORDPRESS_DB_HOST
          valueFrom:
            configMapKeyRef:
              name: wordpress
              key: host
        - name: WORDPRESS_DB_USER
          valueFrom:
            configMapKeyRef:
              name: wordpress
              key: user

        ##
        # mount sensitive environment vars from secret using secretKeyRef
        # WORDPRESS_DB_PASSWORD (from database secret, key: user-password)
        ##
        - name: WORDPRESS_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: database
              key: user-password

        ports:
        - containerPort: 80
          name: wordpress

        volumeMounts:
        - name: wordpress-storage
          mountPath: /var/www/html

      volumes:
      - name: wordpress-storage
        persistentVolumeClaim:
          claimName: wp-pv-claim

---
##
# create persistent volume claim here
# name: wp-pv-claim
# storage: 1Gi
# accessModes: ReadWriteOnce
##
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: wp-pv-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
